---
import type { Artist } from '$lib/typeDefs';
import AlbumInfo from '$lib/components/albumInfo.astro';

const { artist } = Astro.props as { artist: Artist };
---

<div class="flex flex-wrap w-full">
  {artist.albums.map((album) => (
    <div class="w-full md:w-1/4 text-center">
      <AlbumInfo
        {album}
        navigateTo={`/Ausick/artist/${artist.artistId}/album/${album.collectionId}`}
      />
    </div>
  ))}
</div>
